.test{
	background: purple;
	height: 50%;
	width: 50%;
}
.zigzag{
	/* clip-path: polygon(25% 0, 100% 0, 100% 100%, 82% 92%, 71% 92%, 49% 100%, 29% 92%, 19% 92%, 0 100%, 0 0); */
	/* clip-path: polygon(0 0, 100% 0, 100% 100%, 77% 84%, 52% 100%, 47% 100%, 24% 85%, 0 100%) !important; */

}